.gallery-wrapper {
  position: relative;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.gallery-block {
  margin-bottom: 20px;
  text-align: center;
}

.text-color-light-blue {
  color: #6ec1e5;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.text-color-grey {
  color: #8f8f8f;
  font-size: 1.2em;
}

.image-full-width {
  width: 63%; /* Decrease the width */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the images */
}

.embedly-embed {
  display: block;
  margin: 0 auto; /* Center the video */
}

.gallery-cover {
  object-fit: cover;
  max-height: 100%;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  width: 80%; /* Same width as images */
  padding-top: 45%; /* Adjust this value to change the height */
  margin: 0 auto; /* Center the video */
}

.embedly-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .text-color-light-blue {
    font-size: 1.5em;
  }

  .text-color-grey {
    font-size: 1em;
  }

  .image-full-width {
    width: 100%; /* Full width on smaller screens */
  }

  .video-wrapper {
    width: 100%; /* Full width on smaller screens */
  }
}