.stats-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  background-color: gainsboro;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  border-radius: 15px;
  margin: 35px auto;
}

.stats-bar img {
  width: 80px;
  margin: 0 auto;
  background-image: linear-gradient(45deg,rgb(19, 136, 245),rgb(94, 3, 184));
  border-radius: 50%;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stats-item h1 {
  margin-top: 10px;
  font-size: 2em;
}

.stats-item p {
  margin-top: 5px;
  font-size: 1em;
}

@media (max-width: 600px) {
  .stats-bar {
    width: 90%;
    padding: 1rem;
  }

  .stats-bar img {
    width: 60px;
  }

  .stats-item h1 {
    font-size: 1.5em;
  }

  .stats-item p {
    font-size: 0.9em;
  }
}